name: E2E Tests

on:
  repository_dispatch:
    types:
      - 'vercel.deployment.success'

jobs:
  run-e2es:
    if: github.event_name == 'repository_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.client_payload.git.sha }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'recipe-viewer/package-lock.json'

      - name: Install dependencies
        working-directory: recipe-viewer
        run: npm ci

      - name: Run E2E tests
        working-directory: recipe-viewer
        run: npm run test:e2e
        env:
          E2E_BASE_URL: ${{ github.event.client_payload.url }}
